body{
  color: $color-text;
  padding-top: 40px;
}

p {
  font-family: $paragraph-font;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
}

h1 {
  font-family: $h1-font;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
}

h2 {
  font-family: $h2-font;
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
}

h3 {
  font-family: $h3-font;
  font-weight: $h3-font-weight;
  font-size: $h3-font-size;
  padding: 0.5em;
}

h4 {
  font-family: $h4-font;
  font-weight: $h4-font-weight;
  font-size: $h4-font-size;
}

.navbar-brand {
  padding-top: 0px;
}

.text-vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.page-info {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  .page-title-container {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    .page-title {
      @extend .text-vertical-center;
      text-align: center;
      width: 150px;
      height: 150px;

    }
  }
  .page-desc-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    .page-desc {
      text-align: center;
    }
  }

}

.circle {
  @include border-radius(50%);
}

.circle-pink {
  @include border-radius(50%, $pink);
  color: white;
}

.circle-blue-gray{
  @include border-radius(50%, $blue-gray);
  color: white;
}

.circle-light-blue{
  @include border-radius(50%, $light-blue);
  color: white;
}

.btn-pink {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $pink, $pink);
}

.btn-blue-green {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $blue-green, $blue-green);
}

.btn-blue-gray {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $blue-gray, $blue-gray);
}

.btn-light-blue {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $light-blue, $light-blue);
}

.btn-dark-blue {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $dark-blue, $dark-blue);
}