body{
  color: $color-text;
  padding-top: 50px;
}

p {
  font-family: $paragraph-font;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
}

h1 {
  font-family: $h1-font;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
}

h2 {
  font-family: $h2-font;
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
}

h3 {
  font-family: $h3-font;
  font-weight: $h3-font-weight;
  font-size: $h3-font-size;
  padding: 0.5em;
  background-color: $blue-green;
  color: white;
}

h4 {
  font-family: $h4-font;
  font-weight: $h4-font-weight;
  font-size: $h4-font-size;
}

.navbar-brand {
  padding-top: 0px;
}

.circle {
  @include border-radius(50%);
}

.btn-pink {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $pink, $pink);
}

.btn-blue-green {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $blue-green, $blue-green);
}

.btn-blue-gray {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $blue-gray, $blue-gray);
}

.btn-light-blue {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $light-blue, $light-blue);
}

.btn-dark-blue {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $dark-blue, $dark-blue);
}