#latest-posts {
  margin-top: 10px;
  .post {
    p.desc {
      @extend .text-left;
      font-size: 1.4em;
      margin-top: 10px;
    }
  }
}

.show-post {
  @extend .center-block;
  width: 600px;
  .title {
    @extend .text-center;
  }
  p.desc {
    margin-top: 10px;
    font-size: 1.4em;
  }
  .socialcount {
    margin-top: 1em;
    width: 335px;
    @extend .center-block;
  }
}

