@import 'variables-mixins';

.style-guide {
  margin-left: 3em;
  .color-styles {
    li {
      display: inline-block;
      list-style-type: none;
      padding-right: 20px;
      width: 200px;

    }
  }
  .blue-gray {
    background-color: $blue-gray;
  }
  .pink {
    background-color: $pink;
  }
  .dark-blue {
    background-color: $dark-blue;
  }

  .light-blue {
   background-color: $light-blue;
  }

  .blue-green {
    background-color: $blue-green;
  }
  .color-text {
    background-color: $color-text;
  }
  .color-background {
    background-color: $color-background;
  }

}