// Fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,200,300); //14px = 1em

$h1-font: 'Raleway', sans-serif;
$h1-font-weight: 200;
$h1-font-size: 2.85em;

$h2-font: 'Raleway', sans-serif;
$h2-font-weight: 400;
$h2-font-size: 2em;

$h3-font: 'Raleway', sans-serif;
$h3-font-weight: 200;
$h3-font-size: 1.2em;

$paragraph-font: 'Raleway', sans-serif;
$paragraph-font-weight: 400;
$paragraph-font-size: 1em;


// Colors

$blue-gray:         #2C3744;
$pink:              #DC254F;
$dark-blue:         #1E282C;
$light-blue:        #5A9FA3;
$blue-green:        #2B4946;

$color-text:        #555555;
$color-background:  #ffffff;