// Fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,200,300); //14px = 1em

$font-default:            'Raleway', sans-serif;
$font-header:             'Raleway', sans-serif;

$h1-font:                 $font-header;
$h1-font-weight:          200;
$h1-font-size:            2.85em;

$h2-font:                 $font-header;
$h2-font-weight:          400;
$h2-font-size:            2em;

$h3-font:                 $font-header;
$h3-font-weight:          200;
$h3-font-size:            1.2em;

$paragraph-font:          $font-default;
$paragraph-font-weight:   400;
$paragraph-font-size:     1em;


// Colors

$blue-gray:         #2C3744;
$pink:              #DC254F;
$dark-blue:         #1E282C;
$light-blue:        #5A9FA3;
$blue-green:        #2B4946;

$color-text:        #555555;
$color-background:  #ffffff;