<div id="about">
    <div class="row">
        <div class="col-lg-2 col-sm-3">
            <h2 class="page-title circle-light-blue">About</h2>
        </div>
        <div class="col-lg-6">
            <h4 class="page-desc">Speech-Tastic prides itself in creating great teaching materials at a great price</h4>
        </div>
    </div>

    <div id="what-we-do">
        <h3>What Do We Do?</h3>
        <p>We create useful teaching materials and discuss important topics focused around speech-therapy, social skills and helping students with special needs</p>
    </div>



    <div id="who-we-are">
        <h3 class="heading">Who Are We?</h3>
        <div class="row">

            <div class="col-md-4">
                <h2 class="text-center">Lacey</h2>
                <hr>
                <p>I am a licensed Speech and Languange Pathologist</p>

            </div>
            <div class="col-md-4">
                <img src="images/us.jpg" class="us">
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Neil</h2>
                <hr>
                <p></p>
            </div>
        </div>
    </div>
</div>
