<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Speech-Tastic</h1>
                    <h3>All of Your Therepy Needs</h3>

                    <ul class="list-inline intro-buttons">
                        <li>
                            <a href="#/blog" class="btn btn-light-blue btn-lg">Blog</a>
                        </li>
                        <li>
                            <a href="#/store" class="btn btn-light-blue btn-lg">Store</a>
                        </li>
                        <li>
                            <a href="#/about" class="btn btn-light-blue btn-lg">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="services" class="">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>What We Do</h2>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <img src="images/home/blog-square.png" class="circle">
                            </span>
                            <h4>
                                <strong>Blog</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-pink">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <img src="images/home/store-square.png" class="circle">
                            </span>
                            <h4>
                                <strong>Store</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-pink">Buy Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>