<div id="store">
    <div class="row">
        <div class="col-lg-2 col-sm-3">
            <h2 class="page-title circle-blue-gray">Store</h2>
        </div>
        <div class="col-lg-6">
            <h4 class="page-desc">Speech-Tastic prides itself in creating great teaching materials at a great price</h4>
        </div>

    </div>

    <hr>


    <h3 class="">Lesson Plans</h3>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product">Learn More</a>
    </div>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product btn-block">Learn More</a>
    </div>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product btn-block">Learn More</a>
    </div>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product btn-block">Learn More</a>
    </div>
</div>