<div id="store">
    <h2 class="text-center">Speech-Tastic prides itself in creating great teaching materials at a great price</h2>

    <h3 class="product-group">Lesson Plans</h3>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product btn-block">Learn More</a>
    </div>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product btn-block">Learn More</a>
    </div>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product btn-block">Learn More</a>
    </div>

    <div class="product">
        <img src="images/product.png" class="center-block">
        <h3>Title</h3>
        <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        <a href="" class="btn btn-product btn-block">Learn More</a>
    </div>
</div>