<div id="store">

    <div class="page-info">
        <div class="page-title-container">
            <h2 class="page-title circle-blue-gray">Store</h2>
        </div>
        <div class="page-desc-container">
            <h4 class="page-desc">Speech-Tastic prides itself in creating great teaching materials at a great price</h4>
        </div>
    </div>


    <h3 class="product-group-title">Lesson Plans</h3>
    <div class="product-group">
        <div class="product">
            <div class="product-info">
                <img src="images/product.png" class="center-block">
                <div class="title">This is just a normal title</div>
                <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac. blah blah blas;dlkj  jfda;l ;laksdjf jfdkl;a;alskdjf jfdkla;lakdsjf </p>
            </div>

            <a href="" class="btn btn-product">Learn More</a>
        </div>

    <div class="product">
        <div class="product-info">
            <img src="images/product.png" class="center-block">
            <div class="title">This is a super duper qudaruper long Title</div>
            <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        </div>

        <a href="" class="btn btn-product">Learn More</a>
    </div>

    <div class="product">
        <div class="product-info">
            <img src="images/product.png" class="center-block">
            <div class="title">This is a super duper qudaruper long Title</div>
            <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        </div>

        <a href="" class="btn btn-product">Learn More</a>
    </div>

    <div class="product">
        <div class="product-info">
            <img src="images/product.png" class="center-block">
            <div class="title">This is a super duper qudaruper long Title</div>
            <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        </div>

        <a href="" class="btn btn-product">Learn More</a>
    </div>

    <div class="product">
        <div class="product-info">
            <img src="images/product.png" class="center-block">
            <div class="title">This is a super duper qudaruper long Title</div>
            <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        </div>

        <a href="" class="btn btn-product">Learn More</a>
    </div>

    <div class="product">
        <div class="product-info">
            <img src="images/product.png" class="center-block">
            <div class="title">This is a super duper qudaruper long Title</div>
            <p class="desc">Purus duis purus sit sed rhoncus, fringilla aenean non duis, enim ornare. Arcu consectetuer ac.</p>
        </div>

        <a href="" class="btn btn-product">Learn More</a>
    </div>



</div>

</div>